* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}


body {
    background-color: #fcffff;
    /* background-color: #f6feff; */
}

.section__padding {
    padding: 4rem 6rem;
}

.section__margin {
    margin: 4rem 6rem;
}

.section__padding1 {
    padding: 2rem 6rem 1rem 6rem;
}

/* <------------------------- header css --------------------------> */

.navbar__header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    background-color: #fcffff;
    z-index: 1;
}

.navbar_container {
    max-width: 1248px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* height: 8rem; */
}

.navbar ul {
    display: flex;
}

.logo_img {
    height: 3.5rem;
    cursor: pointer;
}

.navlist {
    list-style: none;
    display: flex;
}

/* .navitems a:active, */
.navitems a {
    display: block;
    text-decoration: none;
    padding: 1rem 2rem;
    color: #607d8b;
    font-size: 1.3rem;
    cursor: pointer;
    transition: all 0.2ms;
    border-radius: 0.2rem;
}

.navitems a:hover {
    color: white;
    background-color: #37474f;
}

.nav-menu {
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 2rem;
    display: none;
    cursor: pointer;
    position: absolute;
    top: 2rem;
    right: 2rem;
}

.nav-menu-1 {
    width: 30px;
    height: 3px;
    background-color: #37474f;
}


/* <---------------------------- main section css ----------------------------> */

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(images/element.svg);
    background-repeat: no-repeat;

}

.main_container {
    max-width: 1244px;
    display: flex;
    flex: 1;
    gap: 3rem;
}

.main_container_discription {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: flex-start;
    flex: 0.5;
}

.main_container_discription_heading {
    font-size: 3.5rem;
    color: #37474f;
    font-weight: 600;
    max-width: 35rem;
}

.main_container_discription_details {
    font-size: 1rem;
    color: #607d8b;
    max-width: 29rem;
    font-weight: 400;
}

.main_container_discription_btn {
    width: 10rem;
    cursor: pointer;
    font-size: 1rem;
    background-color: #458FF6;
    border: none;
    padding: 0.7rem;
    color: white;
    border-radius: 2rem;
    text-align: center;
    transition: all 0.3s;
}

.main_container_discription_btn:hover {
    border: 0.1px solid #458FF6;
    color: #458FF6;
    background-color: #fcffff;
}

.main_container_img {
    flex: 0.5;
}

.main_container_img_illustration {
    width: 100%;
    height: auto;
}

/* <---------------------------- service section css ----------------------------> */
.service {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: url(images/service_img/Vector.svg);
    background-repeat: no-repeat; */
}

.service_container {
    gap: 3rem;
    max-width: 1248px;
    display: flex;
    align-items: center;
    /* place-items: center; */
    flex-direction: column;
}


.service_details_container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    align-items: center;
}

.hr {
    background-color: #37474f;
    border: none;
    width: 11rem;
    height: 0.1rem;
}

.service_details_container_details {
    text-align: center;
    color: #607d8b;
    font-size: 1.1rem;
}

.service_details_container_heading {
    font-size: 2.7rem;
    color: #37474f;
}

.service_card_container {
    display: flex;
    /* margin: 0rem 5rem; */
    column-gap: 3.7rem;
    row-gap: 3.2rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.card {
    padding: 2rem 2rem;
    background-color: white;
    border-radius: 2rem;
    display: flex;
    box-shadow: 10px 40px 50px rgb(229 233 246);
    flex-direction: column;
    transition: all 0.3s;
    gap: 1.5rem;
    width: 19rem;
    height: 20rem;
}

.card:hover {
    box-shadow: 10px 40px 50px #839eab6e;
    transform: translate(0px, -10px);


}

.card_img {
    height: 7rem;
    display: grid;
    align-items: center;
    place-self: start;

}

.card_img img {
    width: 4rem;
}

.card_heading {
    font-size: 1.8rem;
    color: #37474f;
}

.card_details {
    font-size: 1rem;
    color: #607d8b;
}

.service_card_btn {
    width: 10rem;
    cursor: pointer;
    font-size: 1.2rem;
    background-color: #458FF6;
    border: none;
    padding: 0.7rem;
    color: white;
    border-radius: 2rem;
    text-align: center;
    transition: all 0.3s;
}

.service_card_btn:hover {
    border: 0.1px solid #458FF6;
    color: #458FF6;
    background-color: #fcffff;
}




/* <---------------------------- About section css ----------------------------> */
.about {

    display: flex;
    justify-content: center;
    align-items: center;
}

.about_container {
    max-width: 1248px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    gap: 5rem;
}

.about_img {
    place-self: center;
    flex: 0.45;
}

.about_img img {
    width: 100%;

}

.about_details {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    /* padding: 4.5rem; */
    justify-content: center;
    flex: 0.55;
}

.about_heading {
    font-size: 3.5rem;
    color: #37474f;
}

.about_hr {
    background-color: #37474f;
    border: none;
    width: 8rem;
    height: 0.1rem;
}

.about_discription {
    font-size: 1rem;
    color: #607d8b;
}

.about button {
    width: 10rem;
    cursor: pointer;
    font-size: 1.2rem;
    border: none;
    background-color: #458FF6;
    padding: 0.7rem;
    color: white;
    border-radius: 2rem;
    text-align: center;
    transition: all 0.3s;
}

.about button:hover {
    border: 0.1px solid #458FF6;
    color: #458FF6;
    background-color: #fcffff;
}


/* <---------------------------- Apps section section css ----------------------------> */
.apps {
    display: flex;
    justify-content: center;
    align-items: center;
}

.apps_container {
    max-width: 1248px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    gap: 5rem;

}

.app_details {
    display: flex;
    /* padding: 4rem; */
    flex-direction: column;
    justify-content: center;
    flex: 0.55;
    row-gap: 1.5rem;
}


.app_details_heading p {
    color: #37474f;
    font-size: 3.5rem;

}

.app_details_discription p {
    font-size: 1rem;
    color: #607d8b;
}

.app_img {
    place-self: center;
    flex: 0.45;
}

.app_img img {
    width: 100%;
}

.app_details_btn button {
    display: flex;
    cursor: pointer;
    justify-content: space-evenly;
    align-items: center;
    border: 0.1px solid #458FF6;
    width: 10rem;
    font-size: 1.2rem;
    background-color: #fcffff;
    color: #458FF6;
    padding: 0.7rem;
    border-radius: 2rem;
    text-align: center;
}

.app_details_btn button:hover {
    background-color: #458FF6;
    color: #fcffff;
}


/* <---------------------------- Testimonials section css ----------------------------> */


.testimonials {
    display: flex;
    justify-content: center;
    align-items: center;

}

.testimonial_container:hover {
    box-shadow: 10px 40px 50px #839eab6e;
    transform: translate(0px, -10px);

}

.testimonial_container {
    max-width: 1008px;
    background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
    gap: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* row-gap: 1rem; */
    /* color: white; */
    place-items: center;
    padding: 6rem;
    border-radius: 2.4rem;
    transition: all 0.3s;
}

.testimonial_heading p {
    text-align: center;
    font-size: 2.5rem;
    color: #fcffff;
}

.testimonial_container hr {

    background-color: #fcffff;
}

.testimonial_details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex: 1;

}

.testimonial_user {
    display: flex;
    /* width: 20rem; */
    align-items: center;
    column-gap: 1.5rem;
    flex: 0.5;

}

.testimonial_user_img img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: 3px solid #fcffff;
}

.testimonial_user_details {
    row-gap: 0.6rem;
    display: flex;
    flex-direction: column;

    font-size: 0.9rem;
}

.user_name {
    color: #fcffff;
}

.user_details {
    color: #fcffff;
}

.testimonial_discription {
    align-self: center;
    /* width: 28rem; */
    font-size: 1.1rem;
    text-align: center;
    flex: 0.5;
}


.testimonial_discription p {
    color: #fcffff;
}


/* <---------------------------- artical section css ----------------------------> */
.artical {
    display: flex;
    justify-content: center;
    align-items: center;

}

.artical_container {
    max-width: 1216px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 2.2rem;
}

.artical_heading p {
    font-size: 3rem;
    color: #37474f;
}

.artical_card_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    column-gap: 1.2rem;
    row-gap: 1.2rem;
    /* padding: 1rem 4rem; */

}

.artical_card {
    background-color: white;
    border-radius: 2rem;
    overflow: hidden;
    /* width: 21rem; */
    display: flex;
    max-width: 21rem;
    flex-direction: column;
    /* box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4); */
    box-shadow: 10px 40px 50px rgb(201 203 216 / 40%);
    transition: all 0.3s;
}

.artical_card:hover {
    box-shadow: 10px 40px 50px #839eab6e;
    transform: translate(0px, -10px);
}

.artical_card_details {
    margin: 2.5rem;
    /* row-gap: 1.5rem; */
    height: 16rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.artical_card_heading {
    color: #37474f;
    font-size: 1.8rem;
}

.artical_card_discription {
    color: #607d8b;
}

.read_more_articals {
    color: #5a98f2;
}

.read_more_articals p {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    cursor: pointer;

}

.artical_card>img {
    width: 100%;
    height: auto;
}

.read_more_articals img {
    transform: rotate(270deg);
}

.artical button {

    cursor: pointer;
    border: 0.1px solid #458FF6;
    width: 10rem;
    font-size: 1.2rem;
    background-color: #fcffff;
    color: #458FF6;
    padding: 0.7rem;
    border-radius: 2rem;
    text-align: center;
}

.artical button:hover {
    background-color: #458FF6;
    color: #fcffff;
}

/* <---------------------------- footer section css ----------------------------> */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;

    background: url(images/element.svg);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-color: #e0f7fa !important;
}

.footer_img {
    cursor: pointer;
}



.footer_container {
    max-width: 1144px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: flex-start;
    /* gap: 3rem; */
    flex: 1;
    flex-wrap: wrap;
}


.footer_container div:last-child p,
.footer_container div:nth-last-child(2) p,
.footer_container div:nth-last-child(3) p {
    color: #040C18;
}

.footer_container ul {
    margin-bottom: 1rem;
}

.footer_container ul,
.footer_container a,
.footer_container p {
    list-style: none;
    color: #607d8b;
    text-decoration: none;
    font-size: 1rem;
}

.footer_container li {
    padding-bottom: 0.3rem;

}

.footer_container a:hover {
    color: #040C18;
}

.footer_container p {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.footer_img {
    margin-bottom: 1rem;
}




/* <================================== Media Query ==================================> */



@media screen and (max-width: 1050px) {

    .nav-menu {
        display: flex;
    }

    .navbar {
        display: none;
        width: 100%;
        z-index: 999;
    }

    .navbar1 {
        flex-direction: column;
        align-items: flex-start;
        gap: 2rem;

    }

    .navitems a {
        font-size: 1rem;
    }

    .navbar ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar li {
        text-align: center;
    }

    .navbar.active {
        display: flex;
        z-index: 999;
    }

    .main_container_discription_heading {
        font-size: 2.5rem;
    }

    .main_container_discription_details {
        font-size: 0.8rem;
    }

    .main_container_discription_btn {
        font-size: 0.8rem;
    }

    .about_heading {
        font-size: 2.5rem;
    }

    .about_discription {
        font-size: 0.75rem;
    }

    .about button {
        font-size: 0.75rem;
        width: 8.5rem;

    }

    .app_details_heading p {
        font-size: 2.5rem;
    }

    .app_details_discription p {
        font-size: 0.8rem;
    }

    .app_details_btn button {
        font-size: 0.8rem
    }

    .testimonial_heading p {
        font-size: 2.3rem;
    }

    .testimonial_discription p {
        font-size: 0.8rem;
    }

    .user_details,
    .user_name {
        font-size: 0.8rem;
    }

    .testimonial_user_img img {
        width: 4rem;
    }

    .artical_card_heading p {
        font-size: 1.3rem;
    }

    .artical_card_discription p {
        font-size: 1rem;
    }

    .read_more_articals p {
        font-size: 1rem;
    }

    .artical_heading p {
        font-size: 2.5rem;
    }

    .artical button {
        font-size: 1rem;
    }

}

@media screen and (max-width: 1024px) {
    .service_details_container_heading {
        font-size: 2rem;
    }

    .service_details_container_details,
    .service_card_btn,
    .card_details {
        font-size: 1rem;
    }

    .card_heading {
        font-size: 1.3rem;
    }


}

@media screen and (max-width: 869px) {
    .main_container_discription_heading {
        font-size: 2rem;
    }

    .main_container_discription_details {
        font-size: 0.75rem;
    }

    .main_container_discription_btn {
        font-size: 0.75rem;
        width: 8rem;
    }

    .about_heading {
        font-size: 2rem;
    }

    .about_discription {
        font-size: 0.75rem;
    }

    .about button {
        font-size: 0.75rem;
        width: 8rem;
    }

    .app_details_heading p {
        font-size: 1.8rem;
    }

    .app_details_discription p {
        font-size: 0.75rem;
    }

    .app_details_btn button {
        font-size: 0.75rem;
        width: 8rem;
    }

    .testimonial_details {
        flex-direction: column;
        gap: 2rem;
    }

    .testimonial_heading p {
        font-size: 2rem;
    }

    .testimonial_discription p {
        font-size: 0.75rem;
    }

    .user_details,
    .user_name {
        font-size: 0.75rem;
    }

    .artical_card_heading p {
        font-size: 1rem;
    }

    .artical_card_discription p {
        font-size: 0.75rem;
    }

    .read_more_articals p {
        font-size: 0.75rem;
    }

    .artical_heading p {
        font-size: 2rem;
    }

    .artical button {
        font-size: 0.75rem;
    }

}

@media screen and (max-width: 769px) {
    .logo_img {
        height: 2rem;
    }

    .footer_container {
        flex-direction: column;
    }

    .footer_container ul,
    .footer_container a,
    .footer_container p {
        font-size: 0.85rem;
    }

    .footer {
        background-size: 3.5rem;
    }

    .main_container {
        flex-direction: column;
    }

    .about_container {
        flex-direction: column;
    }

    .apps_container {
        flex-direction: column-reverse;
    }

    .app_img {
        padding: 0.7rem;
    }

    .about_img {
        padding: 0.7rem;
    }

    .main {
        background-size: 2.8rem;
    }

    .main_container_img {
        padding: 0.7rem;
    }

    .service_details_container_heading {
        font-size: 1.7rem;
    }

    .service_details_container_details,
    .service_card_btn,
    .card_details {
        font-size: 0.75rem;
    }

    .card_heading {
        font-size: 1rem;
    }

    .card {
        width: 15rem;
        height: 16rem;
    }

    .card_img img {
        width: 3rem;
    }

    .testimonial_container {
        padding: 3.3rem;
    }

    .artical_card_details {
        margin: 0rem 1.5rem;
    }

}

@media screen and (max-width: 700px) {
    .section__padding {
        padding: 4rem;
    }

    .section__padding1 {
        padding: 3rem 4rem 4rem 4rem;
    }

    .section__margin {
        margin: 4rem;
    }
}

@media screen and (max-width: 399px) {
    .testimonial_container {
        padding: 2.3rem;
    }
}

@media screen and (max-width: 550px) {
    .section__padding {
        padding: 4rem 2rem;
    }

    .section__padding1 {
        padding: 2rem 2rem;
    }

    .section__margin {
        margin: 4rem 2rem;
    }

    .testimonial_heading p {
        font-size: 1rem;
    }
}